@import './base.css';

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 0px) {
  .container, .container-fluid {
    max-width: none !important;
  }
}

.btn-primary {
  align-items: right;
  background-color: #6d997a;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #42282c;
}

.btn-primary:hover, .btn:focus, .btn:active {
  background-color: #42282c; 
}

.btn-secondary {
    background-color: #42282c; 
    border-color: #42282c;
    color: white; 
    display: inline-flex; 
    align-items: center; 
    padding: 10px 20px; 
    margin-left: 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    text-decoration: none; 
}


.btn-secondary:hover {
  background-color: #50373b; 
}

.btn-secondary i {
    margin-right: 8px; 
}