@import './base.css';

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 0px) {
  .container, .container-fluid {
    max-width: none !important;
  }
}
